.project{
    width: 100%;
    height: 100%;
    &__text{
        text-align: center;
    }
    &__text-two{
        font-size: 12px;
        font-family: Helvetica, sans-serif;
        margin-bottom: 8px;
        margin-top: 16px;
    }
    &__link-container{
        display: flex;
        justify-content: space-between;
        margin-bottom: 4px;
    }
    &__links{
        text-decoration: none;
        color: black;
        background-color:#FFCC00;
        padding: 4px;
        border-radius: 4px;
    }
}