.tech-stack{
    margin-top: 32px;
    margin-left: 32px;
    &__link-container{
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 320px;
    }
    &__links{
        list-style-type: none;
        margin-top: 16px;
        color: limegreen;
        user-select: none;
        }
    }