@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes typing2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      width: 100%;
    }
  }
  
@keyframes blink {
    0% { background-color: black; }
    100% {
        background-color: limegreen;
    }
  }

  @keyframes pulse {
    0% {
      color: limegreen;
    }
    100% {
      color: var(--secondaryPulseColor);
    }
  }
  