.contact{
    margin-top: 32px;
    &__link-container{
        margin-top: 32px;
        display: flex;
        justify-content: space-between;
        width: 300px;
    }
    &__links{
        text-decoration: none;
        color: limegreen;
        &:hover, :focus{
            color: yellowgreen;
            font-size: larger;
        }
    }
}