@import '../../styles/partials/fontface';
@import '../../styles/partials/keyframes';



.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    overflow: hidden;
    background-color: black;
    unicode-bidi: plaintext;
    &__header{
      animation: pulse 4s infinite;
      --secondaryPulseColor: yellowgreen;
      font-family: FalloutTerminal;
      font-size: 10px;
      margin: 1rem 1rem;
      align-self: initial;
    }
    &__text{
        cursor: default;
        user-select: none;
        white-space: pre;
        text-decoration: none;
        color: limegreen;
        font-size: 10px;
        font-style: normal;
        line-height: 11px;
        font-weight: normal;
        text-align: center;
        font-family: "Courier New",Courier,mono;
        word-wrap: break-word;
        &--underline{
            text-decoration: underline;
        }
    }
    &__found:hover, &__found:focus{
        
          font-size: 40px;        
    }
    &__found-clicked{
      color: white !important;
    }
    &__found{
      color: magenta;
      cursor: pointer;
    }
}

span{
    display: inline-block;
    opacity: 0;
    margin: 0;
  }
  @for $i from 1 through 200{
    span:nth-child(#{$i}){
      animation: flyin#{$i} 4s 1 forwards; 
    }
    @keyframes flyin#{$i}{
      0%{
        transform: translate(random(700) - 350 + px, random(700) - 350 + px); 
      }
      25%{
       opacity: .1; 
      }
      100%{
        transform: translate(0,0);
        opacity: 1; 
      }
    }
  }