.about {
  margin-top: 32px;
}
.about__text-para {
  margin-top: 16px;
}

@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/slick.eot");
  src: url("../../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../../fonts/slick.woff") format("woff"), url("../../fonts/slick.ttf") format("truetype"), url("../../fonts/slick.svg#slick") format("svg");
}
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir=rtl] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: "←";
}

[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir=rtl] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: "→";
}

[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

.carousel__image {
  width: inherit;
  height: 180px;
}

.contact {
  margin-top: 32px;
}
.contact__link-container {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.contact__links {
  text-decoration: none;
  color: limegreen;
}
.contact__links:hover, .contact__links :focus {
  color: yellowgreen;
  font-size: larger;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.portfolio {
  background-color: black;
  width: inherit;
  height: inherit;
  font-family: FalloutTerminal;
  padding: 8px;
  color: limegreen;
}
.portfolio__header {
  font-size: 1.05rem;
}
.portfolio__header-two {
  font-size: 1.05rem;
  overflow: hidden;
  opacity: 0;
  white-space: nowrap;
  /* Keeps the content on a single line */
  animation: typing2 2s steps(30, end);
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.portfolio__header-three {
  font-size: 1.05rem;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: typing2 2s steps(30, end);
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
.portfolio__list {
  display: flex;
  flex-direction: column;
}
.portfolio__links {
  list-style-type: none;
  user-select: none;
  margin-bottom: 8px;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  animation: typing2 2s steps(30, end);
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
.portfolio__links:hover, .portfolio__links :focus {
  font-size: large;
  cursor: pointer;
  color: yellowgreen;
}
.portfolio__div {
  margin-top: 5rem;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  animation: typing2 2s steps(30, end);
  animation-delay: 4s;
  animation-fill-mode: forwards;
  display: inline-flex;
}
.portfolio__animated {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(30, end);
}
.portfolio__current {
  margin-left: 4px;
}

.portfolio > * {
  margin-bottom: 8px;
}

.square {
  width: 8px;
  height: 16px;
  margin-left: 5px;
  background-color: limegreen;
  display: inline-block;
  animation: blink 0.8s infinite;
  animation-delay: 2s;
}

.project {
  width: 100%;
  height: 100%;
}
.project__text {
  text-align: center;
}
.project__text-two {
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  margin-bottom: 8px;
  margin-top: 16px;
}
.project__link-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
.project__links {
  text-decoration: none;
  color: black;
  background-color: #FFCC00;
  padding: 4px;
  border-radius: 4px;
}

.projects {
  margin-top: 32px;
  position: fixed;
  width: 100%;
  height: 100%;
  overscroll-behavior-y: contain;
  overflow: hidden;
}
.projects__outer {
  margin-top: 40px;
  position: absolute;
  width: 90%;
  will-change: transform;
  display: flex;
  justify-content: center;
}
.projects__inner {
  background-color: limegreen;
  color: black;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 45vh;
  padding: 16px;
  max-width: 300px;
  height: 85vh;
  max-height: 320px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
  cursor: all-scroll;
  user-select: none;
}

.tech-stack {
  margin-top: 32px;
  margin-left: 32px;
}
.tech-stack__link-container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
}
.tech-stack__links {
  list-style-type: none;
  margin-top: 16px;
  color: limegreen;
  user-select: none;
}

@font-face {
  font-family: PressStart2P;
  src: url(https://fonts.gstatic.com/s/pressstart2p/v8/e3t4euO8T-267oIAQAu6jDQyK3nVivNm4I81.woff2);
}
@font-face {
  font-family: FalloutTerminal;
  src: url(https://fonts.gstatic.com/s/sharetechmono/v9/J7aHnp1uDWRBEqV98dVQztYldFcLowEFA87Heg.woff2);
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
@keyframes blink {
  0% {
    background-color: black;
  }
  100% {
    background-color: limegreen;
  }
}
@keyframes pulse {
  0% {
    color: limegreen;
  }
  100% {
    color: var(--secondaryPulseColor);
  }
}
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  overflow: hidden;
  background-color: black;
  unicode-bidi: plaintext;
}
.welcome__header {
  animation: pulse 4s infinite;
  --secondaryPulseColor: yellowgreen;
  font-family: FalloutTerminal;
  font-size: 10px;
  margin: 1rem 1rem;
  align-self: initial;
}
.welcome__text {
  cursor: default;
  user-select: none;
  white-space: pre;
  text-decoration: none;
  color: limegreen;
  font-size: 10px;
  font-style: normal;
  line-height: 11px;
  font-weight: normal;
  text-align: center;
  font-family: "Courier New", Courier, mono;
  word-wrap: break-word;
}
.welcome__text--underline {
  text-decoration: underline;
}
.welcome__found:hover, .welcome__found:focus {
  font-size: 40px;
}
.welcome__found-clicked {
  color: white !important;
}
.welcome__found {
  color: magenta;
  cursor: pointer;
}

span {
  display: inline-block;
  opacity: 0;
  margin: 0;
}

span:nth-child(1) {
  animation: flyin1 4s 1 forwards;
}

@keyframes flyin1 {
  0% {
    transform: translate(70px, -36px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(2) {
  animation: flyin2 4s 1 forwards;
}

@keyframes flyin2 {
  0% {
    transform: translate(118px, -19px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(3) {
  animation: flyin3 4s 1 forwards;
}

@keyframes flyin3 {
  0% {
    transform: translate(-257px, -334px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(4) {
  animation: flyin4 4s 1 forwards;
}

@keyframes flyin4 {
  0% {
    transform: translate(346px, -164px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(5) {
  animation: flyin5 4s 1 forwards;
}

@keyframes flyin5 {
  0% {
    transform: translate(109px, 260px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(6) {
  animation: flyin6 4s 1 forwards;
}

@keyframes flyin6 {
  0% {
    transform: translate(303px, -165px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(7) {
  animation: flyin7 4s 1 forwards;
}

@keyframes flyin7 {
  0% {
    transform: translate(27px, 22px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(8) {
  animation: flyin8 4s 1 forwards;
}

@keyframes flyin8 {
  0% {
    transform: translate(76px, -149px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(9) {
  animation: flyin9 4s 1 forwards;
}

@keyframes flyin9 {
  0% {
    transform: translate(-161px, -300px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(10) {
  animation: flyin10 4s 1 forwards;
}

@keyframes flyin10 {
  0% {
    transform: translate(349px, 19px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(11) {
  animation: flyin11 4s 1 forwards;
}

@keyframes flyin11 {
  0% {
    transform: translate(317px, -25px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(12) {
  animation: flyin12 4s 1 forwards;
}

@keyframes flyin12 {
  0% {
    transform: translate(144px, -221px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(13) {
  animation: flyin13 4s 1 forwards;
}

@keyframes flyin13 {
  0% {
    transform: translate(26px, -81px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(14) {
  animation: flyin14 4s 1 forwards;
}

@keyframes flyin14 {
  0% {
    transform: translate(-148px, 212px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(15) {
  animation: flyin15 4s 1 forwards;
}

@keyframes flyin15 {
  0% {
    transform: translate(203px, 162px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(16) {
  animation: flyin16 4s 1 forwards;
}

@keyframes flyin16 {
  0% {
    transform: translate(181px, 305px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(17) {
  animation: flyin17 4s 1 forwards;
}

@keyframes flyin17 {
  0% {
    transform: translate(308px, -129px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(18) {
  animation: flyin18 4s 1 forwards;
}

@keyframes flyin18 {
  0% {
    transform: translate(-310px, 121px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(19) {
  animation: flyin19 4s 1 forwards;
}

@keyframes flyin19 {
  0% {
    transform: translate(160px, 329px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(20) {
  animation: flyin20 4s 1 forwards;
}

@keyframes flyin20 {
  0% {
    transform: translate(-282px, 157px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(21) {
  animation: flyin21 4s 1 forwards;
}

@keyframes flyin21 {
  0% {
    transform: translate(7px, -311px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(22) {
  animation: flyin22 4s 1 forwards;
}

@keyframes flyin22 {
  0% {
    transform: translate(-248px, 140px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(23) {
  animation: flyin23 4s 1 forwards;
}

@keyframes flyin23 {
  0% {
    transform: translate(136px, -140px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(24) {
  animation: flyin24 4s 1 forwards;
}

@keyframes flyin24 {
  0% {
    transform: translate(249px, -156px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(25) {
  animation: flyin25 4s 1 forwards;
}

@keyframes flyin25 {
  0% {
    transform: translate(17px, -139px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(26) {
  animation: flyin26 4s 1 forwards;
}

@keyframes flyin26 {
  0% {
    transform: translate(-111px, -91px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(27) {
  animation: flyin27 4s 1 forwards;
}

@keyframes flyin27 {
  0% {
    transform: translate(-220px, 64px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(28) {
  animation: flyin28 4s 1 forwards;
}

@keyframes flyin28 {
  0% {
    transform: translate(278px, -107px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(29) {
  animation: flyin29 4s 1 forwards;
}

@keyframes flyin29 {
  0% {
    transform: translate(-72px, 150px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(30) {
  animation: flyin30 4s 1 forwards;
}

@keyframes flyin30 {
  0% {
    transform: translate(129px, 110px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(31) {
  animation: flyin31 4s 1 forwards;
}

@keyframes flyin31 {
  0% {
    transform: translate(169px, -211px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(32) {
  animation: flyin32 4s 1 forwards;
}

@keyframes flyin32 {
  0% {
    transform: translate(9px, -12px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(33) {
  animation: flyin33 4s 1 forwards;
}

@keyframes flyin33 {
  0% {
    transform: translate(-57px, -327px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(34) {
  animation: flyin34 4s 1 forwards;
}

@keyframes flyin34 {
  0% {
    transform: translate(-16px, 120px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(35) {
  animation: flyin35 4s 1 forwards;
}

@keyframes flyin35 {
  0% {
    transform: translate(349px, 314px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(36) {
  animation: flyin36 4s 1 forwards;
}

@keyframes flyin36 {
  0% {
    transform: translate(275px, 30px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(37) {
  animation: flyin37 4s 1 forwards;
}

@keyframes flyin37 {
  0% {
    transform: translate(-274px, 319px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(38) {
  animation: flyin38 4s 1 forwards;
}

@keyframes flyin38 {
  0% {
    transform: translate(-7px, -115px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(39) {
  animation: flyin39 4s 1 forwards;
}

@keyframes flyin39 {
  0% {
    transform: translate(-75px, -85px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(40) {
  animation: flyin40 4s 1 forwards;
}

@keyframes flyin40 {
  0% {
    transform: translate(248px, 68px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(41) {
  animation: flyin41 4s 1 forwards;
}

@keyframes flyin41 {
  0% {
    transform: translate(-207px, -133px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(42) {
  animation: flyin42 4s 1 forwards;
}

@keyframes flyin42 {
  0% {
    transform: translate(104px, 213px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(43) {
  animation: flyin43 4s 1 forwards;
}

@keyframes flyin43 {
  0% {
    transform: translate(275px, -289px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(44) {
  animation: flyin44 4s 1 forwards;
}

@keyframes flyin44 {
  0% {
    transform: translate(-140px, -37px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(45) {
  animation: flyin45 4s 1 forwards;
}

@keyframes flyin45 {
  0% {
    transform: translate(-289px, 143px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(46) {
  animation: flyin46 4s 1 forwards;
}

@keyframes flyin46 {
  0% {
    transform: translate(35px, -237px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(47) {
  animation: flyin47 4s 1 forwards;
}

@keyframes flyin47 {
  0% {
    transform: translate(294px, -186px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(48) {
  animation: flyin48 4s 1 forwards;
}

@keyframes flyin48 {
  0% {
    transform: translate(-270px, 96px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(49) {
  animation: flyin49 4s 1 forwards;
}

@keyframes flyin49 {
  0% {
    transform: translate(294px, 235px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(50) {
  animation: flyin50 4s 1 forwards;
}

@keyframes flyin50 {
  0% {
    transform: translate(191px, -132px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(51) {
  animation: flyin51 4s 1 forwards;
}

@keyframes flyin51 {
  0% {
    transform: translate(174px, -322px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(52) {
  animation: flyin52 4s 1 forwards;
}

@keyframes flyin52 {
  0% {
    transform: translate(169px, -268px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(53) {
  animation: flyin53 4s 1 forwards;
}

@keyframes flyin53 {
  0% {
    transform: translate(348px, -347px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(54) {
  animation: flyin54 4s 1 forwards;
}

@keyframes flyin54 {
  0% {
    transform: translate(-334px, 147px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(55) {
  animation: flyin55 4s 1 forwards;
}

@keyframes flyin55 {
  0% {
    transform: translate(41px, -256px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(56) {
  animation: flyin56 4s 1 forwards;
}

@keyframes flyin56 {
  0% {
    transform: translate(-311px, 279px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(57) {
  animation: flyin57 4s 1 forwards;
}

@keyframes flyin57 {
  0% {
    transform: translate(-234px, 176px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(58) {
  animation: flyin58 4s 1 forwards;
}

@keyframes flyin58 {
  0% {
    transform: translate(88px, -94px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(59) {
  animation: flyin59 4s 1 forwards;
}

@keyframes flyin59 {
  0% {
    transform: translate(-118px, 45px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(60) {
  animation: flyin60 4s 1 forwards;
}

@keyframes flyin60 {
  0% {
    transform: translate(-268px, 307px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(61) {
  animation: flyin61 4s 1 forwards;
}

@keyframes flyin61 {
  0% {
    transform: translate(-171px, 70px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(62) {
  animation: flyin62 4s 1 forwards;
}

@keyframes flyin62 {
  0% {
    transform: translate(131px, 81px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(63) {
  animation: flyin63 4s 1 forwards;
}

@keyframes flyin63 {
  0% {
    transform: translate(44px, -37px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(64) {
  animation: flyin64 4s 1 forwards;
}

@keyframes flyin64 {
  0% {
    transform: translate(31px, -48px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(65) {
  animation: flyin65 4s 1 forwards;
}

@keyframes flyin65 {
  0% {
    transform: translate(127px, 3px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(66) {
  animation: flyin66 4s 1 forwards;
}

@keyframes flyin66 {
  0% {
    transform: translate(92px, 256px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(67) {
  animation: flyin67 4s 1 forwards;
}

@keyframes flyin67 {
  0% {
    transform: translate(73px, -286px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(68) {
  animation: flyin68 4s 1 forwards;
}

@keyframes flyin68 {
  0% {
    transform: translate(-333px, 124px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(69) {
  animation: flyin69 4s 1 forwards;
}

@keyframes flyin69 {
  0% {
    transform: translate(86px, -230px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(70) {
  animation: flyin70 4s 1 forwards;
}

@keyframes flyin70 {
  0% {
    transform: translate(-189px, -73px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(71) {
  animation: flyin71 4s 1 forwards;
}

@keyframes flyin71 {
  0% {
    transform: translate(107px, 245px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(72) {
  animation: flyin72 4s 1 forwards;
}

@keyframes flyin72 {
  0% {
    transform: translate(264px, -228px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(73) {
  animation: flyin73 4s 1 forwards;
}

@keyframes flyin73 {
  0% {
    transform: translate(-160px, 278px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(74) {
  animation: flyin74 4s 1 forwards;
}

@keyframes flyin74 {
  0% {
    transform: translate(21px, -274px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(75) {
  animation: flyin75 4s 1 forwards;
}

@keyframes flyin75 {
  0% {
    transform: translate(92px, -305px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(76) {
  animation: flyin76 4s 1 forwards;
}

@keyframes flyin76 {
  0% {
    transform: translate(-149px, -330px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(77) {
  animation: flyin77 4s 1 forwards;
}

@keyframes flyin77 {
  0% {
    transform: translate(-348px, 301px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(78) {
  animation: flyin78 4s 1 forwards;
}

@keyframes flyin78 {
  0% {
    transform: translate(183px, 63px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(79) {
  animation: flyin79 4s 1 forwards;
}

@keyframes flyin79 {
  0% {
    transform: translate(-304px, 214px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(80) {
  animation: flyin80 4s 1 forwards;
}

@keyframes flyin80 {
  0% {
    transform: translate(138px, -303px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(81) {
  animation: flyin81 4s 1 forwards;
}

@keyframes flyin81 {
  0% {
    transform: translate(-95px, 157px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(82) {
  animation: flyin82 4s 1 forwards;
}

@keyframes flyin82 {
  0% {
    transform: translate(-233px, 323px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(83) {
  animation: flyin83 4s 1 forwards;
}

@keyframes flyin83 {
  0% {
    transform: translate(298px, -316px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(84) {
  animation: flyin84 4s 1 forwards;
}

@keyframes flyin84 {
  0% {
    transform: translate(332px, 46px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(85) {
  animation: flyin85 4s 1 forwards;
}

@keyframes flyin85 {
  0% {
    transform: translate(-104px, -189px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(86) {
  animation: flyin86 4s 1 forwards;
}

@keyframes flyin86 {
  0% {
    transform: translate(-73px, 279px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(87) {
  animation: flyin87 4s 1 forwards;
}

@keyframes flyin87 {
  0% {
    transform: translate(-82px, 202px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(88) {
  animation: flyin88 4s 1 forwards;
}

@keyframes flyin88 {
  0% {
    transform: translate(183px, 277px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(89) {
  animation: flyin89 4s 1 forwards;
}

@keyframes flyin89 {
  0% {
    transform: translate(-312px, -147px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(90) {
  animation: flyin90 4s 1 forwards;
}

@keyframes flyin90 {
  0% {
    transform: translate(-145px, 239px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(91) {
  animation: flyin91 4s 1 forwards;
}

@keyframes flyin91 {
  0% {
    transform: translate(-300px, 210px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(92) {
  animation: flyin92 4s 1 forwards;
}

@keyframes flyin92 {
  0% {
    transform: translate(198px, 77px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(93) {
  animation: flyin93 4s 1 forwards;
}

@keyframes flyin93 {
  0% {
    transform: translate(281px, 278px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(94) {
  animation: flyin94 4s 1 forwards;
}

@keyframes flyin94 {
  0% {
    transform: translate(-316px, 161px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(95) {
  animation: flyin95 4s 1 forwards;
}

@keyframes flyin95 {
  0% {
    transform: translate(248px, -178px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(96) {
  animation: flyin96 4s 1 forwards;
}

@keyframes flyin96 {
  0% {
    transform: translate(-240px, 48px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(97) {
  animation: flyin97 4s 1 forwards;
}

@keyframes flyin97 {
  0% {
    transform: translate(21px, 65px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(98) {
  animation: flyin98 4s 1 forwards;
}

@keyframes flyin98 {
  0% {
    transform: translate(110px, -208px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(99) {
  animation: flyin99 4s 1 forwards;
}

@keyframes flyin99 {
  0% {
    transform: translate(-44px, 42px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(100) {
  animation: flyin100 4s 1 forwards;
}

@keyframes flyin100 {
  0% {
    transform: translate(50px, 191px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(101) {
  animation: flyin101 4s 1 forwards;
}

@keyframes flyin101 {
  0% {
    transform: translate(170px, -214px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(102) {
  animation: flyin102 4s 1 forwards;
}

@keyframes flyin102 {
  0% {
    transform: translate(164px, 23px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(103) {
  animation: flyin103 4s 1 forwards;
}

@keyframes flyin103 {
  0% {
    transform: translate(-119px, 24px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(104) {
  animation: flyin104 4s 1 forwards;
}

@keyframes flyin104 {
  0% {
    transform: translate(5px, -296px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(105) {
  animation: flyin105 4s 1 forwards;
}

@keyframes flyin105 {
  0% {
    transform: translate(-204px, 339px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(106) {
  animation: flyin106 4s 1 forwards;
}

@keyframes flyin106 {
  0% {
    transform: translate(283px, 57px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(107) {
  animation: flyin107 4s 1 forwards;
}

@keyframes flyin107 {
  0% {
    transform: translate(326px, 265px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(108) {
  animation: flyin108 4s 1 forwards;
}

@keyframes flyin108 {
  0% {
    transform: translate(252px, 220px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(109) {
  animation: flyin109 4s 1 forwards;
}

@keyframes flyin109 {
  0% {
    transform: translate(-319px, -156px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(110) {
  animation: flyin110 4s 1 forwards;
}

@keyframes flyin110 {
  0% {
    transform: translate(160px, 140px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(111) {
  animation: flyin111 4s 1 forwards;
}

@keyframes flyin111 {
  0% {
    transform: translate(159px, -79px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(112) {
  animation: flyin112 4s 1 forwards;
}

@keyframes flyin112 {
  0% {
    transform: translate(-226px, 225px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(113) {
  animation: flyin113 4s 1 forwards;
}

@keyframes flyin113 {
  0% {
    transform: translate(-328px, 48px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(114) {
  animation: flyin114 4s 1 forwards;
}

@keyframes flyin114 {
  0% {
    transform: translate(277px, -253px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(115) {
  animation: flyin115 4s 1 forwards;
}

@keyframes flyin115 {
  0% {
    transform: translate(48px, 126px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(116) {
  animation: flyin116 4s 1 forwards;
}

@keyframes flyin116 {
  0% {
    transform: translate(-112px, 285px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(117) {
  animation: flyin117 4s 1 forwards;
}

@keyframes flyin117 {
  0% {
    transform: translate(-173px, -29px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(118) {
  animation: flyin118 4s 1 forwards;
}

@keyframes flyin118 {
  0% {
    transform: translate(223px, 35px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(119) {
  animation: flyin119 4s 1 forwards;
}

@keyframes flyin119 {
  0% {
    transform: translate(-96px, 279px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(120) {
  animation: flyin120 4s 1 forwards;
}

@keyframes flyin120 {
  0% {
    transform: translate(74px, -184px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(121) {
  animation: flyin121 4s 1 forwards;
}

@keyframes flyin121 {
  0% {
    transform: translate(-32px, 216px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(122) {
  animation: flyin122 4s 1 forwards;
}

@keyframes flyin122 {
  0% {
    transform: translate(-221px, -46px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(123) {
  animation: flyin123 4s 1 forwards;
}

@keyframes flyin123 {
  0% {
    transform: translate(-153px, -318px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(124) {
  animation: flyin124 4s 1 forwards;
}

@keyframes flyin124 {
  0% {
    transform: translate(257px, -116px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(125) {
  animation: flyin125 4s 1 forwards;
}

@keyframes flyin125 {
  0% {
    transform: translate(251px, -204px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(126) {
  animation: flyin126 4s 1 forwards;
}

@keyframes flyin126 {
  0% {
    transform: translate(-167px, -303px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(127) {
  animation: flyin127 4s 1 forwards;
}

@keyframes flyin127 {
  0% {
    transform: translate(328px, -69px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(128) {
  animation: flyin128 4s 1 forwards;
}

@keyframes flyin128 {
  0% {
    transform: translate(-11px, -72px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(129) {
  animation: flyin129 4s 1 forwards;
}

@keyframes flyin129 {
  0% {
    transform: translate(263px, 74px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(130) {
  animation: flyin130 4s 1 forwards;
}

@keyframes flyin130 {
  0% {
    transform: translate(92px, -43px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(131) {
  animation: flyin131 4s 1 forwards;
}

@keyframes flyin131 {
  0% {
    transform: translate(70px, -188px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(132) {
  animation: flyin132 4s 1 forwards;
}

@keyframes flyin132 {
  0% {
    transform: translate(47px, -168px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(133) {
  animation: flyin133 4s 1 forwards;
}

@keyframes flyin133 {
  0% {
    transform: translate(276px, 249px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(134) {
  animation: flyin134 4s 1 forwards;
}

@keyframes flyin134 {
  0% {
    transform: translate(121px, -217px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(135) {
  animation: flyin135 4s 1 forwards;
}

@keyframes flyin135 {
  0% {
    transform: translate(71px, 71px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(136) {
  animation: flyin136 4s 1 forwards;
}

@keyframes flyin136 {
  0% {
    transform: translate(-137px, -307px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(137) {
  animation: flyin137 4s 1 forwards;
}

@keyframes flyin137 {
  0% {
    transform: translate(95px, 245px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(138) {
  animation: flyin138 4s 1 forwards;
}

@keyframes flyin138 {
  0% {
    transform: translate(-209px, -177px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(139) {
  animation: flyin139 4s 1 forwards;
}

@keyframes flyin139 {
  0% {
    transform: translate(-119px, 62px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(140) {
  animation: flyin140 4s 1 forwards;
}

@keyframes flyin140 {
  0% {
    transform: translate(277px, -193px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(141) {
  animation: flyin141 4s 1 forwards;
}

@keyframes flyin141 {
  0% {
    transform: translate(6px, -169px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(142) {
  animation: flyin142 4s 1 forwards;
}

@keyframes flyin142 {
  0% {
    transform: translate(159px, -22px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(143) {
  animation: flyin143 4s 1 forwards;
}

@keyframes flyin143 {
  0% {
    transform: translate(262px, 258px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(144) {
  animation: flyin144 4s 1 forwards;
}

@keyframes flyin144 {
  0% {
    transform: translate(-327px, -315px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(145) {
  animation: flyin145 4s 1 forwards;
}

@keyframes flyin145 {
  0% {
    transform: translate(237px, -207px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(146) {
  animation: flyin146 4s 1 forwards;
}

@keyframes flyin146 {
  0% {
    transform: translate(-116px, -81px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(147) {
  animation: flyin147 4s 1 forwards;
}

@keyframes flyin147 {
  0% {
    transform: translate(-286px, 95px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(148) {
  animation: flyin148 4s 1 forwards;
}

@keyframes flyin148 {
  0% {
    transform: translate(-49px, -272px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(149) {
  animation: flyin149 4s 1 forwards;
}

@keyframes flyin149 {
  0% {
    transform: translate(-78px, 62px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(150) {
  animation: flyin150 4s 1 forwards;
}

@keyframes flyin150 {
  0% {
    transform: translate(-93px, -201px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(151) {
  animation: flyin151 4s 1 forwards;
}

@keyframes flyin151 {
  0% {
    transform: translate(54px, 264px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(152) {
  animation: flyin152 4s 1 forwards;
}

@keyframes flyin152 {
  0% {
    transform: translate(16px, -260px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(153) {
  animation: flyin153 4s 1 forwards;
}

@keyframes flyin153 {
  0% {
    transform: translate(-69px, 263px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(154) {
  animation: flyin154 4s 1 forwards;
}

@keyframes flyin154 {
  0% {
    transform: translate(137px, 142px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(155) {
  animation: flyin155 4s 1 forwards;
}

@keyframes flyin155 {
  0% {
    transform: translate(-123px, 103px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(156) {
  animation: flyin156 4s 1 forwards;
}

@keyframes flyin156 {
  0% {
    transform: translate(34px, 134px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(157) {
  animation: flyin157 4s 1 forwards;
}

@keyframes flyin157 {
  0% {
    transform: translate(179px, 248px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(158) {
  animation: flyin158 4s 1 forwards;
}

@keyframes flyin158 {
  0% {
    transform: translate(-134px, -22px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(159) {
  animation: flyin159 4s 1 forwards;
}

@keyframes flyin159 {
  0% {
    transform: translate(308px, -305px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(160) {
  animation: flyin160 4s 1 forwards;
}

@keyframes flyin160 {
  0% {
    transform: translate(194px, -114px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(161) {
  animation: flyin161 4s 1 forwards;
}

@keyframes flyin161 {
  0% {
    transform: translate(221px, -62px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(162) {
  animation: flyin162 4s 1 forwards;
}

@keyframes flyin162 {
  0% {
    transform: translate(156px, 41px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(163) {
  animation: flyin163 4s 1 forwards;
}

@keyframes flyin163 {
  0% {
    transform: translate(273px, 197px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(164) {
  animation: flyin164 4s 1 forwards;
}

@keyframes flyin164 {
  0% {
    transform: translate(-251px, -316px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(165) {
  animation: flyin165 4s 1 forwards;
}

@keyframes flyin165 {
  0% {
    transform: translate(345px, 73px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(166) {
  animation: flyin166 4s 1 forwards;
}

@keyframes flyin166 {
  0% {
    transform: translate(332px, -197px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(167) {
  animation: flyin167 4s 1 forwards;
}

@keyframes flyin167 {
  0% {
    transform: translate(-191px, 30px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(168) {
  animation: flyin168 4s 1 forwards;
}

@keyframes flyin168 {
  0% {
    transform: translate(64px, 244px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(169) {
  animation: flyin169 4s 1 forwards;
}

@keyframes flyin169 {
  0% {
    transform: translate(310px, 126px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(170) {
  animation: flyin170 4s 1 forwards;
}

@keyframes flyin170 {
  0% {
    transform: translate(173px, 210px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(171) {
  animation: flyin171 4s 1 forwards;
}

@keyframes flyin171 {
  0% {
    transform: translate(-28px, -61px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(172) {
  animation: flyin172 4s 1 forwards;
}

@keyframes flyin172 {
  0% {
    transform: translate(-148px, 207px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(173) {
  animation: flyin173 4s 1 forwards;
}

@keyframes flyin173 {
  0% {
    transform: translate(-297px, -119px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(174) {
  animation: flyin174 4s 1 forwards;
}

@keyframes flyin174 {
  0% {
    transform: translate(204px, 259px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(175) {
  animation: flyin175 4s 1 forwards;
}

@keyframes flyin175 {
  0% {
    transform: translate(-268px, -195px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(176) {
  animation: flyin176 4s 1 forwards;
}

@keyframes flyin176 {
  0% {
    transform: translate(239px, 58px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(177) {
  animation: flyin177 4s 1 forwards;
}

@keyframes flyin177 {
  0% {
    transform: translate(-344px, 96px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(178) {
  animation: flyin178 4s 1 forwards;
}

@keyframes flyin178 {
  0% {
    transform: translate(329px, 116px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(179) {
  animation: flyin179 4s 1 forwards;
}

@keyframes flyin179 {
  0% {
    transform: translate(-287px, -227px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(180) {
  animation: flyin180 4s 1 forwards;
}

@keyframes flyin180 {
  0% {
    transform: translate(190px, 91px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(181) {
  animation: flyin181 4s 1 forwards;
}

@keyframes flyin181 {
  0% {
    transform: translate(-87px, 55px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(182) {
  animation: flyin182 4s 1 forwards;
}

@keyframes flyin182 {
  0% {
    transform: translate(89px, 236px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(183) {
  animation: flyin183 4s 1 forwards;
}

@keyframes flyin183 {
  0% {
    transform: translate(326px, 302px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(184) {
  animation: flyin184 4s 1 forwards;
}

@keyframes flyin184 {
  0% {
    transform: translate(-157px, 328px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(185) {
  animation: flyin185 4s 1 forwards;
}

@keyframes flyin185 {
  0% {
    transform: translate(-41px, 243px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(186) {
  animation: flyin186 4s 1 forwards;
}

@keyframes flyin186 {
  0% {
    transform: translate(-334px, -169px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(187) {
  animation: flyin187 4s 1 forwards;
}

@keyframes flyin187 {
  0% {
    transform: translate(-129px, 188px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(188) {
  animation: flyin188 4s 1 forwards;
}

@keyframes flyin188 {
  0% {
    transform: translate(-65px, -67px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(189) {
  animation: flyin189 4s 1 forwards;
}

@keyframes flyin189 {
  0% {
    transform: translate(-85px, 178px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(190) {
  animation: flyin190 4s 1 forwards;
}

@keyframes flyin190 {
  0% {
    transform: translate(60px, -286px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(191) {
  animation: flyin191 4s 1 forwards;
}

@keyframes flyin191 {
  0% {
    transform: translate(26px, -254px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(192) {
  animation: flyin192 4s 1 forwards;
}

@keyframes flyin192 {
  0% {
    transform: translate(-198px, -135px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(193) {
  animation: flyin193 4s 1 forwards;
}

@keyframes flyin193 {
  0% {
    transform: translate(344px, -30px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(194) {
  animation: flyin194 4s 1 forwards;
}

@keyframes flyin194 {
  0% {
    transform: translate(-16px, 349px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(195) {
  animation: flyin195 4s 1 forwards;
}

@keyframes flyin195 {
  0% {
    transform: translate(-239px, 47px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(196) {
  animation: flyin196 4s 1 forwards;
}

@keyframes flyin196 {
  0% {
    transform: translate(48px, 298px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(197) {
  animation: flyin197 4s 1 forwards;
}

@keyframes flyin197 {
  0% {
    transform: translate(-51px, 46px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(198) {
  animation: flyin198 4s 1 forwards;
}

@keyframes flyin198 {
  0% {
    transform: translate(-276px, 140px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(199) {
  animation: flyin199 4s 1 forwards;
}

@keyframes flyin199 {
  0% {
    transform: translate(315px, 197px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
span:nth-child(200) {
  animation: flyin200 4s 1 forwards;
}

@keyframes flyin200 {
  0% {
    transform: translate(-156px, -334px);
  }
  25% {
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
}

#app {
  height: 100%;
  width: 100%;
}


/*# sourceMappingURL=app.css.map*/