.projects{
  margin-top: 32px;
  position: fixed;
  width: 100%;
  height: 100%;
  overscroll-behavior-y: contain;
  overflow: hidden;
  // cursor: pointer;
  &__outer{
    margin-top: 40px;
    position: absolute;
    width: 90%;
    will-change: transform;
    display: flex;
    justify-content: center;
  }
  &__inner{
    background-color: limegreen;
    color: black;
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 45vh;
    padding: 16px;
    max-width: 300px;
    height: 85vh;
    max-height: 320px;
    will-change: transform;
    border-radius: 10px;
    box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
    cursor: all-scroll;
    user-select: none;
  }
}