html{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}

.portfolio{
    background-color: black;
    width: inherit;
    height: inherit;
    font-family: FalloutTerminal;
    padding: 8px;
    color: limegreen;
    &__header{
        font-size: 1.05rem;
    }
    &__header-two{
        font-size: 1.05rem;
        overflow: hidden;
        opacity: 0;
        white-space: nowrap; /* Keeps the content on a single line */
        animation: typing2 2s steps(30,end);
        animation-fill-mode: forwards;
        animation-delay: 1s;
    }
    &__header-three{
        font-size: 1.05rem;
        opacity: 0;
        overflow: hidden;
        white-space: nowrap; 
        animation: typing2 2s steps(30,end);
        animation-fill-mode: forwards;
        animation-delay: 2s;
    }
    &__list{
        display: flex;
        flex-direction: column;
    }
    &__links{
        list-style-type: none;
        user-select: none;
        margin-bottom: 8px;
        overflow: hidden;
        white-space: nowrap; 
        opacity: 0;
        animation: typing2 2s steps(30,end);
        animation-delay: 3s;
        animation-fill-mode: forwards;
        &:hover, :focus{
            font-size: large; 
            cursor: pointer;
            color: yellowgreen;
        }
    }
    &__div{
        margin-top: 5rem;
        overflow: hidden;
        white-space: nowrap; 
        opacity: 0;
        animation: typing2 2s steps(30,end);
        animation-delay: 4s;
        animation-fill-mode: forwards;
        display: inline-flex;
    }
    &__animated{
        overflow: hidden;
        white-space: nowrap; 
        animation: typing 2s steps(30,end)
    }
    &__current{
        margin-left: 4px;
    }
}
.portfolio > * {
    margin-bottom: 8px;
}

.square{
    width: 8px;
    height: 16px;
    margin-left: 5px;
    background-color: limegreen;
    display: inline-block;
    animation: blink .8s infinite;
    animation-delay: 2s;
}